<h2 md-dialog-title>Price overview</h2>
<md-dialog-content>

  <md-card class="priceTable">

    <md-card-header>
      <md-card-title>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div>
        Total: € {{priceCalculation.totalPrice}}
      </div>


      <div>
        <md-table #table [dataSource]="dataSource">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- ID Column -->
          <ng-container cdkColumnDef="id">
            <md-header-cell *cdkHeaderCellDef> Art. number</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.id}}</md-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container cdkColumnDef="description">
            <md-header-cell *cdkHeaderCellDef> Description</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.description}}</md-cell>
          </ng-container>

          <ng-container cdkColumnDef="price">
            <md-header-cell *cdkHeaderCellDef> Price</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.price}}</md-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container cdkColumnDef="amount">
            <md-header-cell *cdkHeaderCellDef> Amount</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.amount}}</md-cell>
          </ng-container>

          <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>

      </div>
    </md-card-content>
  </md-card>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button md-raised md-dialog-close>Close</button>
</md-dialog-actions>
