<ng-sidebar-container>
  <ng-sidebar
    [(opened)]="_opened"
    [mode]="_MODES[_modeNum]"
    [keyClose]="_keyClose"
    [position]="_POSITIONS[_positionNum]"
    [dockedSize]="'50px'"
    [autoCollapseHeight]="_autoCollapseHeight"
    [autoCollapseWidth]="_autoCollapseWidth"
    [closeOnClickOutside]="_closeOnClickOutside"
    [closeOnClickBackdrop]="_closeOnClickBackdrop"
    [showBackdrop]="_showBackdrop"
    [animate]="_animate"
    [trapFocus]="_trapFocus"
    [autoFocus]="_autoFocus"
    [sidebarClass]="'demo-sidebar'"
    [ariaLabel]="'My sidebar'"
    (onOpenStart)="_onOpenStart()"
    (onOpened)="_onOpened()"
    (onCloseStart)="_onCloseStart()"
    (onClosed)="_onClosed()"
    (onAnimationStart)="_onAnimationStart($event)"
    (onAnimationDone)="_onAnimationDone($event)">
    Admin
    <p> <button (click)="_toggleOpened()" md-icon-button><i class="material-icons">close</i></button></p>
  </ng-sidebar>
  <header class="demo-header">


    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>

    </button>

    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="_toggleOpened()">
        <md-icon>dialpad</md-icon>
        <span>Admin</span>
      </button>
    </md-menu>

  </header>
  <section class="demo-contents">
    <md-card>
      <md-card-content>
        <div class="validationInput"><h2 class="example-h2">Aeris Configurator 2</h2></div>

        <section class="example-section">
        </section>
        <section class="example-section validationInput">
          <label class="example-margin">Productcode:</label>
          <validation-input [(productcode)]="code"></validation-input>
        </section>

        <section class="example-section validationInput">
          <button md-raised-button (click)="validateCode(code)">Valideer</button>
        </section>

      </md-card-content>
    </md-card>


  </section>
</ng-sidebar-container>
