.mat-slider-horizontal {
  width: 60%;
}

.mat-slider-vertical {
  height: 300px;
}

.labelTab{
  overflow:auto;
  /*font-size:1.1em;*/
  font-weight: bold;
}
.warningChip{
    background-color: orange;

}
