<form>

  <h3>{{step.description}}</h3>


  <div *ngIf="currentStep!=step.description">
  <div *ngIf="step.type=='VALUES'">
    <md-tab-group selectedIndex="1">
      <md-tab *ngFor="let s of step.models" [label]="s.name" [disabled]="s.name=='Empty'">

        <md-list dense>
          <md-list-item>
            Description: {{s.name}}

          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            Width: {{s.dimension.width}} mm
          </md-list-item>
        </md-list>
      </md-tab>
    </md-tab-group>
  </div>
  <div *ngIf="step.type=='TEXT'">

    <md-card-content>

      <md-input-container>
        Width:
        <md-slider class="mat-slider-horizontal"
                   max="400"
                   min="200"
                   step="1"
                   thumb-label="true" [(ngModel)]="model.models[0].value" name="inputValue">
        </md-slider> mm.
        Or:
        <input mdInput [(ngModel)]="model.models[0].value" name="inputValue">
      </md-input-container>

    </md-card-content>
  </div>
  </div>

</form>
