<form>


  <div *ngIf="stepDiff(step)<0">
    <h4>{{step.description}}: {{selectedModel?selectedModel.name:''}}</h4>
  </div>
  <div *ngIf="stepDiff(step)==0">
    <h3>{{step.description}}: {{selectedModel?selectedModel.name:''}}</h3>
  <div >
    <md-tab-group (selectChange)="changedTabSelection($event)">
      <md-tab *ngFor="let m of step.models" >
        <ng-template md-tab-label>
          <div class="labelTab" (click)="tabClick()" [style.color]="getTabColor(m)">

            {{m.name}}
          </div>
        </ng-template>
        <md-list dense>
          <md-list-item>
            Description: {{m.name}}

          </md-list-item>
          <md-divider></md-divider>
          <md-list-item *ngIf="m.dimension!=null && m.dimension.width!=null">
            Width: {{m.dimension==null?'':m.dimension.width}} mm
          </md-list-item>
        </md-list>
      </md-tab>
    </md-tab-group>
  </div>
  <div *ngIf="step.type=='NUMBER'">


      <md-input-container>
        Width:
        <md-slider class="mat-slider-horizontal"
                   max="400"
                   min="200"
                   step="1"
                   thumb-label="true" [(ngModel)]="step.modelValue" name="inputValue" (ngModelChange)="onInputChange($event)">
        </md-slider> mm.

        <input mdInput [(ngModel)]="step.modelValue" name="inputValue" (ngModelChange)="onInputChange($event)">
      </md-input-container>

  </div>
  </div>
  <div *ngIf="stepDiff(step)==1">
    <h4>{{step.description}}</h4>
  </div>
  <div *ngIf="stepDiff(step)>1">
    <h5>{{step.description}}</h5>
  </div>
</form>
