<md-sidenav-container>

  <md-sidenav #sidenav mode="side" class="app-sidenav" style="width:10%">
    <md-list>
      <md-list-item> Productcode</md-list-item>
      <md-list-item><h4>{{productcode}}</h4></md-list-item>

    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">

    Aeris Configurator 3.0 - Step by step
    <div class="small-product-code" *ngIf="productcode">Productcode: <button md-raised-button color="accent" ngxClipboard [cbContent]="productcode">{{productcode}}</button></div>
    <span class="app-toolbar-filler"></span>

  </md-toolbar>

  <div class="app-content">
    <md-card>
      <menusteps [steps]="steps" [relations]="relations" (finished)="finished($event)"></menusteps>
    </md-card>
  </div>

</md-sidenav-container>
