<md-sidenav-container [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="side" class="app-sidenav" style="width:10%">
    <md-list>
      <md-list-item> Productcode </md-list-item>
      <md-list-item> <h4>{{productcode}}</h4> </md-list-item>

    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Aeris Configurator 3.0 - Step by step
<span class="small-product-code">Productcode: {{productcode}}</span>
    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme"></button>
  </md-toolbar>

  <div class="app-content">

    <md-card>


      <menusteps [steps]="steps"></menusteps>

    </md-card>




  </div>

</md-sidenav-container>
