<md-sidenav-container>

  <md-sidenav #sidenav mode="side" class="app-sidenav" style="width:10%">
    <md-list>
      <md-list-item> Productcode</md-list-item>
      <md-list-item><h4>{{productcode}}</h4></md-list-item>

    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">

    Aeris Configurator 3.0 - Step by step
    <div class="small-product-code" *ngIf="productcode">Productcode: {{productcode}}</div>
    <span class="app-toolbar-filler"></span>

  </md-toolbar>

  <div class="app-content">
    <md-card *ngIf="priceCalculation==null">
      <menusteps [steps]="steps" [relations]="relations"></menusteps>
    </md-card>
    <md-card *ngIf="priceCalculation!=null">
     <pricecalculation [priceCalculation]="priceCalculation"></pricecalculation>
      <button md-raised-button (click)="backToConfig()">Back</button>
    </md-card>
  </div>

</md-sidenav-container>
